@media (max-width:799px){
    #a {
        grid-column: span 2;
        grid-row: span 1;
    }
    
    #b{
        grid-column: span 2;
        grid-row: span 1;
    }
    
    #c{
        grid-column: span 2;
        grid-row: span 1;
    }
    
    
    #d{
        grid-column: span 2;
        grid-row: span 1;
    }
    
    #e , #f , #g , #h {
        grid-column: span 1;
        grid-row: span 1;
    }
    
    
    #i {
        grid-column: span 2;
        grid-row: span 1;
    }
    
    
    
}

@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 

    #a {
        grid-column: span 5;
        grid-row: span 1;
    }
    
    #b{
        grid-column: span 1;
        grid-row: span 4;
    }
    
    #c{
        grid-column: span 2;
        grid-row: span 1;
    }
    
    
    #d{
        grid-column: span 2;
        grid-row: span 1;
    }
    
    #e , #f , #g , #h {
        grid-column: span 1;
        grid-row: span 1;
    }
    
    
    #i {
        grid-column: span 4;
        grid-row: span 1;
    }
}


@media (min-device-width: 800px) 
and (max-device-width: 1199px) {
    
    #a {
        grid-column: span 2;
        grid-row: span 1;
    }
    
    #b{
        grid-column: span 2;
        grid-row: span 1;
    }
    
    #c ,#d , #e , #f {
        grid-column: span 1;
        grid-row: span 1;
    }
    
    
    
    #g , #h {
        grid-column: span 1;
        grid-row: span 1;
    }
    
    
    #i {
        grid-column: span 2;
        grid-row: span 1;
    }
}