@media (max-width:799px){
  
    #a{
        
        background-color: rgb(60, 60, 255);
    }
    
    #b{
        
        background-color: rgb(60, 60, 235);
    }
    
    #c{
       
        background-color: rgb(60, 60, 215);
    }
    
    #d{
       
        background-color: rgb(60, 60, 195);
    }
    
    
    #e{
      
        background-color: rgb(60, 60, 175);
    }
    
    
    #f{
      
        background-color: rgb(60, 60, 155);
    }
    
    
    #g{
        
        background-color: rgb(60, 60, 135);
    }
    
    
    #h{
        
        background-color: rgb(60, 60, 115);
        
    }
    
    
    #i{
       
        background-color: rgb(60, 60, 95);
    }
    
}

@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 
    


#a{
   
    background-color: rgb(100, 256, 100);
    
}

#b{
   
    background-color: rgb(70, 250, 70);
}

#c{
   
    background-color: rgb(70, 230, 70);
}

#d{
   
    background-color: rgb(70, 210, 70);
}


#e{
    
    background-color: rgb(70, 190, 70);
}


#f{
    
    background-color: rgb(70, 170, 70);
}


#g{
    
    background-color: rgb(70, 150, 70);
}


#h{
    
    background-color: rgb(70, 130, 70);
}


#i{
   
    background-color: rgb(70, 110, 70);
}
}


@media (min-device-width: 800px) 
and (max-device-width: 1199px) {


    #a{
   
        background-color: rgba(252, 7, 7, 0.445);
        
    }
    
    #b{
       
        background-color: rgba(232, 7, 7, 0.445);
    }
    
    #c{
       
        background-color: rgba(212, 7, 7, 0.445);
    }
    
    #d{
       
        background-color: rgba(192, 7, 7, 0.445);
    }
    
    
    #e{
        
        background-color: rgba(172, 7, 7, 0.445);
    }
    
    
    #f{
        
        background-color: rgba(152, 7, 7, 0.445);
    }
    
    
    #g{
        
        background-color: rgba(132, 7, 7, 0.445);
    }
    
    
    #h{
        
        background-color: rgba(112, 7, 7, 0.445);
    }
    
    
    #i{
       
        background-color: rgba(92, 7, 7, 0.445);
    }
    
}